#### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

#### Loding Dataset

In [2]:
df=pd.read_csv("shopping_behavior_updated.csv")

##### Preview Data

In [3]:
df.sample(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
2482,2483,69,Male,Handbag,Accessories,87,Arizona,S,Peach,Winter,4.8,No,Next Day Air,No,No,46,Credit Card,Every 3 Months
3711,3712,69,Female,Hat,Accessories,62,Texas,XL,Peach,Fall,3.2,No,Free Shipping,No,No,33,Cash,Annually
46,47,57,Male,Shirt,Clothing,43,California,L,White,Summer,2.9,Yes,Store Pickup,Yes,Yes,45,Cash,Quarterly
1451,1452,54,Male,Jacket,Outerwear,34,Utah,M,Maroon,Fall,2.5,No,Next Day Air,Yes,Yes,35,PayPal,Quarterly
198,199,57,Male,Jewelry,Accessories,45,Utah,M,Turquoise,Winter,4.8,Yes,Standard,Yes,Yes,39,Credit Card,Fortnightly
998,999,51,Male,Shoes,Footwear,90,Connecticut,M,White,Spring,3.8,Yes,Next Day Air,Yes,Yes,48,Bank Transfer,Bi-Weekly
3790,3791,27,Female,Handbag,Accessories,45,Alaska,XL,Beige,Summer,4.4,No,Standard,No,No,31,Credit Card,Weekly
3133,3134,58,Female,T-shirt,Clothing,68,Arkansas,M,Orange,Spring,4.1,No,Next Day Air,No,No,29,Cash,Bi-Weekly
1956,1957,70,Male,Socks,Clothing,37,Oklahoma,M,Pink,Winter,4.9,No,Express,No,No,20,Credit Card,Fortnightly
1937,1938,43,Male,Socks,Clothing,53,Delaware,M,Olive,Summer,4.5,No,2-Day Shipping,No,No,11,Bank Transfer,Monthly

##### Check datatype and know about columns

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

##### Summary of Dataset

In [5]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3900.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.749949,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716223,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.700000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

##### Check for null values

In [6]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

##### Convert column_name into readable name

In [14]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.rename(columns={"purchase_amount_(usd)":"purchase_amount"},inplace=True)

In [15]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

##### Add new column that helps in analysis

In [16]:
#new column
labels=['Young','Adult','Middle-aged','Older']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [17]:
df.sample(10)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group
3541,3542,59,Female,Blouse,Clothing,66,Virginia,M,Olive,Winter,4.0,No,Next Day Air,No,No,22,PayPal,Annually,Older
1200,1201,27,Male,Coat,Outerwear,22,Connecticut,XL,Black,Winter,4.4,No,Store Pickup,Yes,Yes,7,PayPal,Weekly,Young
3064,3065,22,Female,Belt,Accessories,76,Idaho,S,Cyan,Winter,3.6,No,Express,No,No,49,Bank Transfer,Quarterly,Young
3719,3720,20,Female,Pants,Clothing,91,Pennsylvania,M,Red,Summer,4.1,No,Free Shipping,No,No,8,Bank Transfer,Every 3 Months,Young
3844,3845,30,Female,Shorts,Clothing,87,Montana,S,Cyan,Fall,5.0,No,Next Day Air,No,No,40,Venmo,Quarterly,Young
463,464,37,Male,Jewelry,Accessories,81,Georgia,S,Orange,Summer,2.7,Yes,Standard,Yes,Yes,29,Venmo,Weekly,Adult
3815,3816,32,Female,Hat,Accessories,44,Maine,M,Brown,Fall,4.3,No,Express,No,No,12,Venmo,Fortnightly,Adult
1276,1277,51,Male,Boots,Footwear,68,Wyoming,L,Turquoise,Spring,4.8,No,Next Day Air,Yes,Yes,37,Bank Transfer,Weekly,Middle-aged
2845,2846,26,Female,Backpack,Accessories,77,South Dakota,L,Lavender,Summer,4.1,No,Express,No,No,39,Debit Card,Every 3 Months,Young
3209,3210,64,Female,Shoes,Footwear,31,Arkansas,L,Peach,Fall,4.3,No,Standard,No,No,39,Debit Card,Annually,Older

In [22]:
# create frequency day column 

frequency_mapping={
    'Fortnightly':14,
    'Weekly':7,
    'Annually':365,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Monthly':30,
    'Every 3 Months':90
}
df['frequency_of_purchases_day']=df['frequency_of_purchases'].map(frequency_mapping)
df[['frequency_of_purchases_day','frequency_of_purchases']].head(5)

   frequency_of_purchases_day frequency_of_purchases
0                          14            Fortnightly
1                          14            Fortnightly
2                           7                 Weekly
3                           7                 Weekly
4                         365               Annually

In [23]:
df.drop('promo_code_used',axis=1,inplace=True)
df

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,frequency_of_purchases_day
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-aged,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,32,Venmo,Weekly,Adult,7
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,41,Bank Transfer,Bi-Weekly,Middle-aged,14
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,24,Venmo,Quarterly,Middle-aged,90
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,24,Venmo,Weekly,Adult,7
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,33,Venmo,Quarterly,Middle-aged,90

##### Save this dataset, Load into Power BI or do more transformation

In [24]:
df.to_csv('update_shopping.csv',index=False)